.visual-panel {
  display: none;
  @include mq(leftCol) {
    display: block;
  }
  .element,
  .element.element--showcase {
    margin: 0 0 48px;
    figcaption {
      padding: 5px 20px 0;
      @include mq(wide) {
        padding-right: 80px;
      }
      .element-image__caption,
      .element-image__credit {
        display: block;
      }
      .element-image__credit {
        color: #999;
      }
    }
  }
  .element-interactive[data-alt='Map'] {
    background-color: #fff;
    border-bottom: 1px solid #dedede;
  }

}
