.article .article__body,
.content__main {
  .ios &,
  .android & {
    background-color: #f6f6f6;
  }
  .content__main-column {
    max-width: 620px;
    margin-left: 0;
    img {
      height: auto;
    }
  }
  .gs-container.u-cf .content__main-column {
    max-width: none;
  }

  figcaption {
    font-size: 14px;
    line-height: 18px;
    color: #767676;
    font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    strong {
      font-weight: inherit;
      color: #121212;
    }
  }

  h2 {
    color: #C70000;
    font-size: inherit;
    font-weight: 700;
    font-family: "Guardian Headline Full","Guardian Headline","Guardian Egyptian Web",Georgia,serif;
    font-size: 17px;
    line-height: 24px;
    margin: 36px 0 18px;
    position: relative;

    @include mq(leftCol) {
      font-size: 20px;
      line-height: 24px;
      margin: 72px 0 18px;
    }
    &:before {
      content: '';
      position: absolute;
      top: -4px;
      left: -20px;
      right: -90px;
      height: 1px;
      background-color: currentColor;
    }
  }
  h2:nth-child(2) {
    margin-top: 12px;
    &:before {
      display: none;
    }
  }

  h2 + h2 {
    font-family: "Guardian Titlepiece","Guardian Headline Full","Guardian Headline","Guardian Egyptian Web",Georgia,serif;
    padding: 3px;
    font-size: 32px;
    line-height: 36px;
    margin: -22px 0 18px -2px;

    @include mq(leftCol) {
      font-size: 48px;
      line-height: 52px;
      margin: -22px 0 18px -3px;
      width: calc(100% + 35px);
    }
    @include mq(wide) {
      width: calc(100% + 85px);
    }

    &:before {
      display: none;
    }
  }

  [data-atom-id='interactives/2020/03/jw-antarctic/default'] {
    display: none;
  }

  @include mq(leftCol) {
    .content__main-column .element-image {
      display: none;
    }
  }
}

.l-side-margins {
  &:before,
  &:after {
    border-color: #999;
  }
}
