@include mq(leftCol) {
  .content__main .gs-container {
    .content__main-column {
      margin-left: 50%;
      margin-right: 0;
      padding-left: 20px;
    }
    &:not(.u-cf) .content__main-column {
      padding-right: 20px;
      @include mq(wide) {
        padding-right: 70px;
      }
    }
  }

  .visual-panel {
    width: 50%;
    position: fixed;
    top: 0;
    right: calc(50% - 1px);
    width: 569px;
    z-index: 1;
    height: 100vh;
    border-right: 1px solid #999;
    overflow: hidden;
    @include mq(wide) {
      width: 649px;
    }
    &__inner {
      margin: 100vh 0;
    }
    img {
      height: auto;
    }
    .element-interactive.interactive iframe {
      height: 320px;
      @include mq(wide) {
        height: 365px;
      }
    }
  }

  .content-footer,
  .l-footer {
    position: relative;
    z-index: 10;
  }
  .content-footer {
    background-color: #f6f6f6;
  }
}
