.article .article__body,
.content__main {
  .ios &,
  .android & {
    background-color: #f6f6f6;
  }
  .content__main-column {
    max-width: 620px;
    margin-left: 0;
    img {
      height: auto;
    }
  }
  .gs-container.u-cf .content__main-column {
    max-width: none;
  }
  .element-interactive.interactive {
    background-color: inherit;
  }

  figure.element-image figcaption {
    font-size: 14px;
    line-height: 18px;
    color: #767676;
    font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    padding-top: 5px;
    margin-bottom: 18px;
    strong {
      font-weight: inherit;
      color: #121212;
    }
  }

  h2 {
    color: #C70000;
    font-size: inherit;
    font-weight: 700;
    font-family: "Guardian Headline Full","Guardian Headline","Guardian Egyptian Web",Georgia,serif;
    font-size: 17px;
    line-height: 24px;
    margin: 36px 0 18px;
    position: relative;

    @include mq(leftCol) {
      font-size: 20px;
      line-height: 24px;
      margin: 72px 0 18px;
    }
    &:before {
      content: '';
      position: absolute;
      top: -4px;
      left: -20px;
      right: -40px;
      height: 1px;
      background-color: currentColor;
      @include mq(wide) {
        right: -90px;
      }
    }
  }
  h2:nth-child(2) {
    margin-top: 9px;
    &:before {
      display: none;
    }
  }

  h2 + h2 {
    font-family: "Guardian Titlepiece","Guardian Headline Full","Guardian Headline","Guardian Egyptian Web",Georgia,serif;
    padding: 3px;
    font-size: 32px;
    line-height: 36px;
    margin: -22px 0 18px -2px;

    @include mq(leftCol) {
      font-size: 48px;
      line-height: 52px;
      margin: -22px 0 18px -3px;
      width: calc(100% + 35px);
    }
    @include mq(wide) {
      width: calc(100% + 85px);
    }

    &:before {
      display: none;
    }
  }

  .element[data-atom-type="audio"] {
    .atom--audio {
      padding: 4px 0 0;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #999;
      @include mq(tablet) {
        left: -20px;
      }
    }
    .atom--audio__label {
      color: #c70000;
    }
    .atom--audio {
      background-color: inherit;
      border-top: 0;
    }
    .atom--audio__headline {
      display: none;
    }

  }

  [data-atom-id='interactives/2020/03/jw-antarctic/default'] {
    display: none;
  }

  @include mq(leftCol) {
    .content__main-column {
      .element-interactive,
      // .element[data-atom-type="audio"],
      .element-image {
        // display: none;
        &.current {
          border-left: 20px solid tomato;
          position: relative;
          left: -20px;
        }
        height: 0;
        overflow: hidden;
        margin: 0;

        // // markers from here
        // figcaption:before {
        //   content: '•';
        //   display: inline;
        //   font-size: 44px;
        //   color: tomato;
        //   vertical-align: middle;
        //   position: relative;
        //   bottom: 3px;
        // }

        // height: 26px;
        // margin-left: 0;
        // img {
        //   display: none;
        // }
        // overflow: hidden;
        // // … to here
      }
    }
  }
}

.l-side-margins {
  &:before,
  &:after {
    border-color: #999;
  }
}
