
header.content__head--interactive,
.article__header {
  background-image: url(https://uploads.guim.co.uk/2020/03/25/585b64c4cc8b5c2200cc535e9d60cb8eac256f7a.800.jpg);
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url(https://uploads.guim.co.uk/2020/03/25/585b64c4cc8b5c2200cc535e9d60cb8eac256f7a.1600.jpg);
  }
  @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
    background-image: url(https://uploads.guim.co.uk/2020/03/25/585b64c4cc8b5c2200cc535e9d60cb8eac256f7a.2400.jpg);
  }

  @include mq(tablet) {
    background-image: url(https://uploads.guim.co.uk/2020/03/25/585b64c4cc8b5c2200cc535e9d60cb8eac256f7a.980.jpg);
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url(https://uploads.guim.co.uk/2020/03/25/585b64c4cc8b5c2200cc535e9d60cb8eac256f7a.1960.jpg);
    }
    @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
      background-image: url(https://uploads.guim.co.uk/2020/03/25/585b64c4cc8b5c2200cc535e9d60cb8eac256f7a.2600.jpg);
    }
  }

  @include mq(leftCol) {
    background-image: url(https://uploads.guim.co.uk/2020/03/25/585b64c4cc8b5c2200cc535e9d60cb8eac256f7a.1300.jpg);
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url(https://uploads.guim.co.uk/2020/03/25/585b64c4cc8b5c2200cc535e9d60cb8eac256f7a.2600.jpg);
    }
    @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
      background-image: url(https://uploads.guim.co.uk/2020/03/25/585b64c4cc8b5c2200cc535e9d60cb8eac256f7a.3900.jpg);
    }
  }
}
