$mobile-header-height: 160;
$mobileLandscape-header-height: 600px;

header.content__head--interactive,
.article .article__header {
  background-color: #dcdcdc;
  height: 0;
  padding-bottom: $mobile-header-height * 1vw;
  background-size: ($mobile-header-height * 1.4%) auto;
  background-position: 64.5% 100%;
  position: relative;
  z-index: 10;

  @include mq(mobileLandscape) {
    padding-bottom: 0;
    background-size: auto 600px;
    height: $mobileLandscape-header-height;
  }
  @include mq(tablet) {
    width: 740px;
    background-size: auto 640px;
    height: 555px;
    margin: 0 auto;
  }
  @include mq(desktop) {
    width: 980px;
    height: 680px;
    background-size: auto 735px;
  }
  @include mq(leftCol) {
    width: 1140px;
    height: 855px;
    background-size: auto 855px;
  }
  @include mq(wide) {
    width: 1300px;
    height: 975px;
    background-size: auto 975px;
    .android &,
    .ios & {
      width: 1200px;
    }
  }


  .content__labels,
  .article-kicker {
    padding-top: 10px;
    body.ios &,
    body.android & {
      background-color: transparent;
    }
    .article-kicker__section,
    .content__section-label {
      display: none;
    }
  .label__link-wrapper,
    .ios & a,
    .android & a {
      background-color: #f6f6f6;
      display: inline-block;
      line-height: 30px;
      padding: 0 10px 0;
      font-weight: 700;
      font-size: 17px;
    }
    @include mq(leftCol) {
      position: static;
      margin-left: auto;
      width: auto;
    }
  }

  .content__headline,
  .headline {
    padding-top: 6px;
    // font-size: 64px;
    // line-height: 62px;
    font-size: 42px;
    line-height: 1;
    color: #f6f6f6;
    mix-blend-mode: screen;
    font-family: "Guardian Titlepiece","Guardian Headline Full","Guardian Headline","Guardian Egyptian Web",Georgia,serif;
    @include mq(tablet) {
      line-height: 0.95;
      font-size: 64px;
    }
    @include mq(leftCol) {
      font-size: 64px;
      padding-top: 0;
      margin-top: -9px;
      line-height: 1;
      body.ios &,
      body.android & {
        background-color: transparent;
      }
    }
    @include mq(wide) {
      font-size: 64px;
      padding-right: 40px;
    }

  }

  &.showcase-alt {
    .content__headline,
    .content__standfirst,
    .standfirst {
      color: #121212;
      mix-blend-mode: hard-light;
    }
    .content__main-column:before {
      background-color: #121212;
    }
  }

  .content__main-column,
  & > .gs-container {
    height: $mobile-header-height * 1vw;
    @include mq(mobileLandscape) {
      height: 100%;
    }
  }

  @include mq(leftCol) {
    .content__main-column {
      margin-left: calc(50% + 20px);
      width: 50%;
      padding-left: 0;
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: -20px;
        bottom: 0;
        width: 1px;
        background-color: #f6f6f6;
        opacity: 0.5;
      }
    }
  }

  .content__standfirst,
  .standfirst {
    position: absolute;
    bottom: 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: 800;
    color: #f6f6f6;
    mix-blend-mode: screen;
    .ios &,
    .android & {
      padding-right: 0;
      .standfirst__inner {
        background-color: transparent;
      }
    }
    @include mq(leftCol) {
      font-size: 36px;
      line-height: 40px;
      max-width: 540px;
    }
    p {
      margin-bottom: 0;
    }
  }

  .ios &,
  .android & {
    margin-bottom: 100px;
    .meta {
      position: absolute;
      bottom: 0;
      transform: translateY(100%);
      z-index: 100;
    }
  }

}
