@import "fonts";
@import "mq";
@import "palette";
// @import "enhancer";
@import "header";
@import "meta";
@import "article";

.interactive-atom {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f6f6f6;
}
